<p>
  <b>Email:</b>
  <%=h @admin.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @admin.password %>
</p>

<p>
  <b>Super admin:</b>
  <%=h @admin.super_admin %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>