<h1>New registration</h1>

<% form_for(@registration) do |f| %>
  <%= f.error_messages %>

  <p>
    <div>
      <div class="name title"><%= f.label :given_name %><br />
      <%= f.text_field :given_name %></div>
      <div class="title"><%= f.label :surname %><br />
      <%= f.text_field :surname %></div></div>
  </p>
  <p>
    <div class="email">
      <span class="title"><%= f.label :email %></span><br />
      <%= f.text_field :email %><br />
      <span class="suggest">Your email will not be shared/sold and will only be used<br />to contact you in the case of important changes to this event</span>
    </div>
  </p>
  <p>
    <div id="lunch">
    <span class="title"><%= f.label :lunch %></span><span id="donation" class="suggest"> (there is a suggested $7 donation for lunches)</span><br />
      <div class="radios">
      <%= f.radio_button :lunch, "Turkey" %> Turkey
      <%= f.radio_button :lunch, "Ham" %> Ham
      <%= f.radio_button :lunch, "Vegetarian" %> Vegetarian
      <%= f.radio_button :lunch, "None" %> None
      </div>
    </div>  
  </p>
<br /><div class="title">Class Registration</div>
<div class="suggest wrap">Please select approximately <span class="emphasis">5 to 7 total</span> classes which you would be interested in attending.
 Your choice is not binding, but it helps us gauge the class sizes so that we can allocate the required room.
 Once you've finished checking the boxes next to the classes you would like, please click the <a href="#submitbtn"><span class="emphasis">Submit Registration</span></a> button at the bottom of the page.</div>
 <div class="suggest wrap"><a target="_blank" href="http://wafamilyhistory.net/Expo2009/classes.htm">Click here to open a separate page with the current description of each class.</a></div>
  <% @grouped_courses.keys.sort.each do |starttime| %>
    <hr />
    <span class="blockstart title">Classes beginning at <%= starttime.to_s(:pretty) %></span><br>
    <% @grouped_courses[starttime].each do |course| %>
      <%= check_box_tag "registration[enrollments_attributes][#{course.id}][course_id]", course.id %>
      <span class="course"><%= course.name %></span> <span class="instructor">taught by <%= course.instructor %></span><br>
    <% end %>
  <% end %>

  <p>
    <a name="submitbtn"></a><%= f.submit 'Submit Registration' %>
  </p>
<% end %>

<!--<%= link_to 'Back', registrations_path %>-->