<p>
  <b>Given name:</b>
  <%=h @registration.given_name %>
</p>

<p>
  <b>Surname:</b>
  <%=h @registration.surname %>
</p>

<p>
  <b>Email:</b>
  <%=h @registration.email %>
</p>

<p>
  <b>Lunch:</b>
  <%=h @registration.lunch %>
</p>

<p>
  <b>Wants syllabus:</b>
  <%=h @registration.wants_syllabus %>
</p>

<ul>
<% @registration.courses.each do |course| %>
  <li>Course:<%= course.name %> Start Time:<%= course.starttime.to_s(:pretty) %></li>
<% end %>
</ul>