<p>
  <b>Given name:</b>
  <%=h @registration.given_name %>
</p>

<p>
  <b>Surname:</b>
  <%=h @registration.surname %>
</p>

<p>
  <b>Email:</b>
  <%=h @registration.email %>
</p>

<p>
  <b>Lunch:</b>
  <%=h @registration.lunch %>
</p>

<p>
  <% if @registration.wants_syllabus.nil? %>
    You registered before the syllabus option was available.  Don't worry, we'll have extras you can purchase when you arrive.
  <% elsif @registration.wants_syllabus %>
    <b>Syllabus:</b> You have requested a printed syllabus.  Please remember to bring $4 to help cover the cost of printing
  <% else %>
    <b>Syllabus:</b> You have opted not to receive a printed syllabus
  <% end %>
</p>

<b>Registered Courses</b>
<table>
  <tr>
    <th>Start Time</th>
    <th>Course</th>
  </tr>
<% @registration.courses.each do |course| %>
  <tr><td><%= course.starttime.to_s(:pretty) %></td><td><%= course.name %></td></tr>
<% end %>
</table>

<p class="noPrint">
Want to remember the classes you were interested in? <A HREF="javascript:print()">Print this Registration</A>
</p>