<h1>New setting</h1>

<% form_for(@setting, :url => setting_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hoptoad_api_key %><br />
    <%= f.text_field :hoptoad_api_key %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', setting_path %>