<h1>Listing classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Instructor</th>
    <th>Starttime</th>
    <th>Note</th>
  </tr>

<% @classes.each do |class| %>
  <tr>
    <td><%=h class.name %></td>
    <td><%=h class.instructor %></td>
    <td><%=h class.starttime %></td>
    <td><%=h class.note %></td>
    <td><%= link_to 'Show', class %></td>
    <td><%= link_to 'Edit', edit_class_path(class) %></td>
    <td><%= link_to 'Destroy', class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New class', new_class_path %>