<p>
  <b>Name:</b>
  <%=h @class.name %>
</p>

<p>
  <b>Instructor:</b>
  <%=h @class.instructor %>
</p>

<p>
  <b>Starttime:</b>
  <%=h @class.starttime %>
</p>

<p>
  <b>Note:</b>
  <%=h @class.note %>
</p>


<%= link_to 'Edit', edit_class_path(@class) %> |
<%= link_to 'Back', classes_path %>