<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Instructor:</b>
  <%=h @course.instructor %>
</p>

<p>
  <b>Starttime:</b>
  <%=h @course.starttime.to_s(:pretty) %>
</p>

<p>
  <b>Note:</b>
  <%=h @course.note %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>